<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
      <nav class="navbar  navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sanatorio Aleman <img height="40px" width="60" src="../public/image/alemania.png" alt=""></a>
         <button class="navbar-toggler   " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"  aria-expanded="false" aria-label="Toggle navigation">
          
         <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse "  id="navbarNavDropdown">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#inicio">inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 profesionales
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#clinico">clinico</a></li>
                  <li><a class="dropdown-item" href="#odontologo">odontologo</a></li>
                  <li><a class="dropdown-item" href="#cardiologo">cardiologo</a></li>
                  <li><a class="dropdown-item" href="#cirujano">cirujano</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">contacto</a>
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>
      </header>
      <section>
        <div id="inicio" class="container-fluid imgFrente">
        <img class="img-fluid" src="../public/image/frente.jpg" alt=" frente del consultorio">

    </div>
    <div>
      <h2>Institucional</h2>
      <p>Desde el año 2010 el Sanatorio Alemán tiene como misión cuidar de tu salud y la de tus seres queridos, nuestras modernas instalaciones, personal medico altamente capacitado y nuestro servicio de urgencia, nos ha ubicado a la vanguardia de la medicina. </p>
    </div>
      </section>
      <section>
        <h2>profesionales</h2>
        <article>
          <h3 id="clinico">clínicos</h3>
          <div>
          <ul>
            <li>Fernando garcia
              <ul>
                <li>lunes y miércoles de 8 a 12hs</li>
                <li>martes y jueves de 15 a 19hs</li>
                <li>viernes de 14 a 17hs</li>
              </ul>
            </li>

            <li>Gustavo Pérez 
              <ul>
                <li>lunes y miércoles de 15 a 18hs</li>
                <li>martes y jueves de 8 a 11hs</li>
                
              </ul>
            </li>
            <li>jose colman
              <ul>
                <li>lunes y miercoles de 8 a 15hs</li>
                
              </ul>
            </li>
            <li>vanesa abasto 
              <ul>
                
                <li>lunes, martes y jueves de 15 a 18hs</li>
                <li>viernes de 15 a 19hs</li>
              </ul>
            </li>
            <li>martin gomez
              <ul>
                <li>lunes, martes y miercoles de 8 a 12hs</li>
                
              </ul>
            </li>
            </ul>
            </div>
        <div>   
          <img class="img-fluid" src="../public/image/clinico.jpg" alt="">
        </div>   
        </article>
      </section>
      <section>
        <h3 id="odontologo">odontología</h3>
        <div>
        <ul>
          <li>julio suarez <ul>
            <li>lunes, martes, miercoles y jueves de 15 a 18hs</li></ul>
                
          <li> juan perez<ul>
            <li>lunes de 15 a 18hs</li>
                <li>viernes de 17 a 19hs</li></ul>
          </li>
          <li>milagros urrutia<ul>
            <li>lunes, martes y jueves de 16 a 20hs</li></ul>
                
          </li>
        </ul>
      </div>
      <div> 
      <img class="img-fluid" width="100%" src="../public/image/odontologia.jfif" alt="">
    </div>
      </section>
      <section>
        
        <h3 id="cardiologo">cardiólogo</h3>
        <div>
        <ul>
          <li>jose pazos
            <ul>
                <li>lunes, miercoles y viernes de 15 a 20hs</li>
            </ul>
          </li>
          <li>manuel argent
              <ul>
                <li>martes y jueves de 15 a 20hs</li>
            </ul>
            
          </li>
        </ul>
        </div>
        <div>
         <img class="img-fluid" src="../public/image/cardiologo.jpg" alt="">
        </div>
      </section>
      <section>
        <h3 id="cirujano">cirujano</h3>
        <div>
          <ul>
            <li> juan garcias
              <ul>
                <li>lunes y viernes de 8 a 12hs</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>ernesto shuck
              <ul>
                <li>martes y miercoles 8 a 14hs</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>nicolas schamne
              <ul>
                <li>viernes de 8 a 12 y de 16 a 19:30hs </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <img class="img-fluid" width="100%" src="../public/image/cirujano.jfif" alt="">
        </div>
      </section>
      <section>
        <h3>pediatria</h3>
        <div>
          <ul>
            <li>carlonia emer 
              <ul>
                <li>jueves y viernes de 15 a 19hs</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>josefina jerkia
              <ul>
                <li>martes, miercoles y viernes de 10 a 14hs</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>maria jose pereyra 
              <ul>
                <li>lunes miercoles jueves y viernes 14 a 18hs </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <img class="img-fluid" src="../public/image/pediatria.jpg" alt="">
        </div>
      </section>
      <section id="contacto">
        <h3>contacto</h3>
        <div>
          <form action="/registro" method="post">
            <input type="text" name="nombre" placeholder="Nombre y Apellido" required>
            <input type="email" name="email" placeholder="e-mail" required>
            <input type="tel" name="teléfono" placeholder="Teléfono" required>
            <textarea name="consulta" placeholder="su consulta" id="" cols="30" rows="10"></textarea>
            <button type="submit">enviar</button>
          </form>
        </div>
      </section>
      <footer>
        <div>facebook </div>
      </footer>
      <!--falta ver que el menu responsive no se cierra solo
      agregar clase y acomodar div de los profecionales  (tambien ortografía)
    agregar atributo alt a las imágenes-->

      <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>