body{
    min-height: 100%;
    
}

.imgFrente img{
    width: 100%;
   height: 50%;
}
.divInstitucional{
    text-align: center;
}
.divInstitucional p{
    margin:10px;
    padding: 5px;
}


h2 {
    text-align: center;
}

.cuerpo {
    border: 3px solid #000;
    background-color: #F1F1F1 ;
}

h3{ padding: 10px;
    margin-left: 15px;
}
.tarjetasProfesionales  {
    box-shadow: 5px 5px 5px 5px black;
    margin: 10px;
   
}